
<article class="d-flex align-items-center">
  <%= image_tag @student.picture.url(:medium), class: "my-3 mr-4" %>
  <div>
    <h4><%= @student.first_name %> <%= @student.last_name %></h4>

    <p>
      <strong>Email:</strong>
      <%= @student.email %>
    </p>

    <p>
      <strong>Last login time:</strong>
      <%= @student.last_sign_in_at ? l(@student.last_sign_in_at, { format: :long }) : 'never' %>
    </p>

  </div>
</article>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>


<div class="card card-outline-primary mt-3">
  <h4 class="card-header card-inverse card-primary">Enrolled Courses</h4>
  <div class="card-block">
    <%= render 'courses', student: @student, courses: @student.courses %>
  </div>
</div>

<div class="card card-outline-primary mt-3">
  <h4 class="card-header card-inverse card-info">All Courses</h4>
  <div class="card-block">
    <%= render 'courses', student: @student, courses: @all_courses - @student.courses %>
  </div>
</div>
