<header class="header my-4 d-flex align-items-center justify-content-between">
  <h1 class="text-muted">Academy App</h1>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <% if student_signed_in? %>
        <%= link_to 'Profile', current_student %>
        |
        <%= link_to 'Log out', destroy_student_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log in', new_student_session_path %>
        |
        <%= link_to 'Sign up', new_student_registration_path %>
      <% end %>
    </li>
  </ul>

</header>

<nav>
  <ul class="nav nav-tabs">
    <% %w(courses students categories).each do |controller| %>
    <li class="nav-item">
      <%= link_to controller.capitalize, "/#{controller}/", class: "nav-link #{'active' if controller_name == controller}" %>
    </li>
    <% end %>
  </ul>
</nav>
