<!DOCTYPE html>
<html>
  <head>
    <title>AcademyApp</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>

      <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{name == 'notice' ? 'info' : 'danger'}") %>
      <% end %>

      <nav>
        <ul class="nav nav-tabs">
          <% %w(courses students categories).each do |controller| %>
          <li class="nav-item">
            <%= link_to controller.capitalize, "/#{controller}/", class: "nav-link #{'active' if controller_name == controller}" %>
          </li>
          <% end %>
        </ul>
      </nav>

      <main role="main" class="tab-content">
        <%= yield %>
      </main>

      <footer class="footer">
        <p>© Company 2017</p>
      </footer>

    </div>
  </body>
</html>
